body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
h1{
    color: #333;
}

section{
    background: rgb(223, 12, 170);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
input,button{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
button{
    background-color: #179fa8;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: #000000;
}
#weather{
    margin-top: 20px;
    font-size: 18px;
}

